@{
    ViewData["Title"] = "Education";

}

 <h2>
   <br>
   <br>
   <br>
      <center> EDUCATION </center><br>
      <center> Primary: Somosa Elementary School </center><br>
      <center> Secondary: Don Potenciano Catarata Memorial National High School </center><br>
      <center> Tertiary: BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY </center><br>
    
 </h2>
 