@{
    ViewData["Title"] = "Home Page";

}

@* @Html.ActionLink("adto nako", "index", "malipang") *@
<br>
<a href = "/malipang/">adto sa wkoy alamag ani</a>

<div class="text-center">
    <h1 class="display-4">Welcome to the world</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
