@{
    ViewData["Title"] = "Personal Info";

}

 <h2>
   <br>
   <br>
   <br>
   
      <center> Name: Malipang, Mirawane S. </center><br>
      <center> Address: Guadalupe, Bogo City, Cebu. </center><br>
      <center> Birthday: August 26, 2002 </center><br>
    
 </h2>
 